/* Toast */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

.toast {
  background-color: rgb(254, 207, 132);
  border-bottom-color: rgb(254, 199, 117);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(254, 199, 117);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(254, 199, 117);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(254, 199, 117);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-style: solid;
  border-top-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px 0px;
  color: rgb(34, 34, 34);
  font-family: "Graphik Webfont", -apple-system, BlinkMacSystemFont, "Roboto",
    "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
  font-size: 15px;
  max-height: 20px;
  width: 616px;
  position: relative;
  text-align: left;
  right: 50%;
}



/* Photo preview */
.photo-div {
  font-family: "Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans",
    "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 35px;
	margin-top: 7px;
	text-align: center;
	width: 570px;
}

.circles {
  color: rgb(34, 34, 34);
  font-family: "Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans",
    "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  line-height: 19.6px;
  margin-right: auto;
  margin-left: auto;
	max-width: 570px;
	display: flex;
	justify-content: center;
}

.thumbnail {
  background-color: rgb(153, 153, 153);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-sizing: border-box;
  color: rgb(34, 34, 34);
  cursor: pointer;
  font-family: "Graphik Webfont", -apple-system, system-ui, Roboto, "Droid Sans",
    "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  line-height: 19.6px;
  margin-bottom: 0px;
  margin-left: 6px;
  margin-right: 0px;
  margin-top: 0px;
  opacity: 0.6;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
	width: 30px;
	display: list-item;
}

/* Image */

.fadeImage {
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
		 -moz-animation: fadein 4s; /* Firefox < 16 */
			-ms-animation: fadein 4s; /* Internet Explorer */
			 -o-animation: fadein 4s; /* Opera < 12.1 */
					animation: fadein 4s;
	display: block;
	margin: 25px auto;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
